@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: #5e5860;
    --primary: #370525;
    --primary-foreground: #fff;
    --secondary: #37052569;
    --secondary-foreground: 0 0% 9%;
    --border: 10px;
    --input: #dddddd;
    --ring: 0 0% 3.9%;
    --radius: 10px;
    --gray: #575756;
    --light-gray: #f7f7f7;
    --dark-gray: #858585;
    --red: #ff2640;
    --green: #145125;
    --success: #0aab5b;
    --blue: #2a31e3;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
body {
  background-image: url("../images/home-bg.jpg");
  background-repeat: no-repeat;
  background-color: #efd2cc;
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  font-family: "Lexend";
  color: var(--input);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder,
textarea,
input,
textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  /* color: var(--primary); */
  font-family: "Lexend";
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea {
  color: var(--primary);
  font-family: "Lexend";
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000066;
  border-radius: 20px;
  border: 1px solid transparent;
}
